.ui.inverted.menu {
  background-color: black;
}

#login-buttons a, .accounts-dialog a {
  color: rgba(255, 255, 255, 0.901961);
}

body{
  /*background: linear-gradient(
      rgba(20,20,20, .5),
      rgba(20,20,20, .5)), url("/images/space-background.jpg");*/
  background-image: url("/images/space-background.jpg");
  opacity: 0.85;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}
