<template name="Edit_Device">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

  <i style="margin-left: -25px;" class="edit icon devices"></i>
  <div class="ui special popup">
    <form class="edit-device">
      <p>Device name</p>
      <input placeholder="Toaster" id="editDeviceNameInput-Refrigerator" type="text" class="validate" value="{{device.name}}">
      <p>Device power</p>
      <input placeholder="W" id="editDevicePowerInput-Refrigerator" type="text" class="validate" value="{{device.power}}">
      <div class="ui tiny basic buttons">
      <button class="ui tiny basic button update" type="submit">Update</button>
      <button class="ui tiny basic button remove" type="submit">Remove</button>
      </div>
    </form>
  </div>

</template>